<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="informacion" class="com.reunion.demo.model.Persona">
		<property name="nombre" value="Carlos"/>
		<property name="apellido" value="Oviedo"/>
		<property name="direccion" ref="direccionCarlos"/>
	</bean>
	
	<bean id="direccionCarlos" class="com.reunion.demo.model.Direccion">
		<constructor-arg name="nomenclatura" value="Av siempre viva 123"/>
		<constructor-arg name="barrio" value="Suba"/>
		<constructor-arg name="codigoPostal" value="111111"/>
	</bean>
	
	

</beans>